In [35]:
import pandas as pd 
import numpy as np

In [36]:
df = pd.read_excel('../analysis/Demographics .xlsx')

In [37]:
df

         Handedness  Age  Gender  First language  Other language
0            right     19     man         English            NaN
1            right     19   woman            Viet        English
2            right     18   woman         English          Hindi
3            right     18     man         English      Cantonese
4            right     19     man         Tagalog        English
5            right     18   woman         English         Arabic
6            right     18   woman         English            NaN
7            right     18   woman      Singalese        English
8            right     19   woman         English        Sinhala
9            right     18   woman         English          Tamil
10           right     22   woman         English            NaN
11           right     26   woman         English          Hindi
12           right     18   woman         English            NaN
13           right     18   woman         English            NaN
14           right     21   woman         English            NaN
15           right     18     man         English            NaN
16  ambidex - right    22     man         English        Italian
17           right     18   woman         English            NaN
18           right     19   woman         English            NaN
19           right     19   woman         English            NaN

In [38]:
df['Age '].value_counts()

Age
18    10
19     6
22     2
26     1
21     1
Name: count, dtype: int64

In [39]:
df['Age '].mean()

19.25

In [40]:
df['Gender '].value_counts()

Gender
woman    15
man       5
Name: count, dtype: int64

In [41]:
df['First language '].value_counts()

First language
English       17
Viet           1
Tagalog        1
Singalese      1
Name: count, dtype: int64

In [42]:
# Total number of participants who spoke a second language
df['Other language'].value_counts().sum()

10

In [44]:
# Frequency breakdown of 2nd langugages spoken 
df['Other language'].value_counts()

Other language
English      2
Hindi        2
Cantonese    1
Arabic       1
English      1
Sinhala      1
Tamil        1
Italian      1
Name: count, dtype: int64